<li>
  <%= link_to(t(:home), root_path) %>
  </li>
<% if user_signed_in? %>
  <li>
  <%= link_to(t(:logout), destroy_user_session_path, :method=>'delete') %>
  </li>
  <li>
  <%= link_to(t(:manage_account), edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to(t(:login_or_register), new_user_session_path)  %>
  </li>
<% end %>

