<section id="navmenu">
  <nav>
    <%= link_to "Home", root_path, :class => 'g-button g-button-submit' %>
    <h3>Manage...</h3>
    <ul>
      <li><%= link_to "Vacancies", vacancies_path %></li>
      <li>Candidates</li>
    </ul>
    <h3>Search...</h3>
    <ul>
      <li>Jobs</li>
    </ul>
  </nav>
</section>

