<div id="session_container" class="clearfix">

  <div class="left">
    <h1>Sign In</h1>

    <%= render :partial => "form" %>
  </div>

  <div class="right">
    <h1>Create a New Account</h1>

    <%= render :partial => "devise/registrations/form" %>
  </div>
</div>

